/* Container */
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 350px 1fr;
  height: 100vh;
}

.sidebar-component{
  margin: 10px;
  margin-top: 0px;
  /* border: 1px solid #ccc; */
}

.sidebar-header {
  background-color: olive;
  border-radius: 10px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Main Content */
.main-content {
  background-color: #fff;
  padding: 20px;
}