/* Container */
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 350px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #f0f0d8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #ccc;
  height: 100vh;
}

.sidebar-calendar{
  margin: 10px;
  border: 1px solid #ccc;
}

.sidebar-calendar-header {
  background-color: olive;
  border-radius: 10px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Content */
.main-content {
  background-color: #fff;
  padding: 20px;
}